/* color */
/*

Stone Wash  #D0D3C5 
Cerulean    #56B1BF
Teal        #08708A 
Tomato      #D73A31 
Hunter      #032B2F
Gray        #7E7F77
#Dark       #3F403C


*/



/* general */

html, body {
  background: #F2F2F2;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  margin-top: 0;
  margin-bottom: 24px;
}

h1 { font-size: 48px; }
h2 { font-size: 38px; }
h3 { font-size: 32px; font-weight: 700; }
h4 { font-size: 24px; font-weight: 700; }
h5 { font-size: 16px; font-weight: 700; }
h6 { font-size: 14px; font-weight: 700; }

p {
  margin: 0 0 24px;
  font-size: 14px;
}

a:link, a:visited {
  color: #032B2F;
}

a:hover {
  color: #08708A;
}

a:active, a.active {
  font-weight: bold;
  color: #08708A;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}


/* article */
#article {
  padding-top: 55px;
}

.content-column-content {
  padding: 0 20px 20px;
}
@media (min-width: 1200px) {
  .content-column-content {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1400px) {
  .content-column-content {
    padding-left: 140px;
    padding-right: 140px;
  }
}
.content-column-content .content-post a {
  display: inline-block;
  text-align: center;
}
.content-column-content p.lead {
  color: #08708A;
}
.content-column-content p, .content-column-content li {
  font-size: 14px;
  color: #7E7F77;
}
.content-column-content ul, .content-column-content ol {
  padding-left: 40px;
}
.content-column-content ul li {
  list-style-type: none;
}
.content-column-content ul li:before {
  content: '\003e';
  margin: 0 5px 0 -15px;
  color: #08708A;
}

.content-column-content blockquote {
  padding: 12px 24px;
  margin: 0 0 24px;
  font-size: 16px;
  border-left: 5px solid #08708A;
}

blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child {
    margin-bottom: 0;
}


/* components */
#sidebar {
  padding-top: 55px;
}

#sidebar.is-hidden-tablet {
  margin-left: 36px;
  margin-right: 36px;
  padding-bottom: 55px;
}

.sidebar-content {
  position: fixed;
  padding-left: 35px;
  padding-right: 20px;
}

.sidebar-heading {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sidebar-heading a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.sidebar-p {
  color: #7E7F77;
}

.sidebar-menu a {
  font-size: 16px;
  color: #032B2F;
}
.sidebar-menu a:hover {
  color: #08708A;
}

.sidebar-menu a .material-icons {
  font-size: 14px;
  color: #7E7F77;
}
.sidebar-menu a:hover .material-icons {
  color: #08708A;
}

.sidebar-footer {
  position: fixed;
  left: 35px;
  bottom: 35px;
  width: 150px;
  font-size: 12px;
  color: #D0D3C5;
}


/* about */
#about {
  padding-top: 55px;
}

#contact-form {
  max-width: 450px;
  margin-top: 24px;
}

#contact-form button {
  background-color: #56B1BF;
}

#contact-form button:hover {
  background-color: #08708A;
}

/* home */
#home {
  height: 100vh;
  margin-top: .75rem;
  background: url(/img/mountain-photo.jpg) no-repeat center center;
  background-size: cover;
}


/* portfolio */
#portfolio {
  padding-top: 43px;
  padding-bottom: 43px;
}

.portfolio-container {
  position: relative;
}

.item {
  position: absolute;
  display: block;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item .card-filter {
  
}

.item .card-filter a {
  display: block;
  text-align: center;
  text-transform: capitalize;
}

.card {
  transition: all 0.2s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  width: 100%;
  height: 100%;
}

.card h4 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.card h4 a {
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.card p {
  color: #7E7F77;
}

.card .card-hover-text-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 20px 15px;
  opacity: 0;
  transition: all 0.2s ease-out;
  color: #7E7F77;
}
.card:hover {
  box-shadow: 0 0 5px #999;
}
.card:hover .card-hover-text-header {
  opacity: 1;
}
.card:hover .card-hover-center {
  opacity: 1;
}
.card:hover .card-image .with-hover-overlay:before {
  opacity: 0.8;
}
.card:hover .card-image .with-hover-icon:after {
  opacity: 0.7;
}
.card .card-image {
  display: block;
  position: relative;
  min-height: 100px;
}
.card .card-image:before {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.2s ease-out;
  content: '\003e';
  text-align: center;
  font-size: 50px;
  color: #EFF7F9;
}

.item:nth-child(5n) .card .card-image { background: #56B1BF; }
.item:nth-child(5n+1) .card .card-image { background: #74BFCA; }
.item:nth-child(5n+2) .card .card-image { background: #93CDD6; }
.item:nth-child(5n+3) .card .card-image { background: #B2DBE1; }
.item:nth-child(5n+4) .card .card-image { background: #D0E9ED; } 

.card .card-image .with-hover-overlay:before {
  display: block;
  position: absolute;
  content: " ";
  background: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.2s ease-out;
}
.card .card-image .with-hover-icon:after {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: all 0.2s ease-out;
  content: '\003e';
  text-align: center;
  font-size: 50px;
  color: #555555;
}
.card .card-image:hover {
  text-decoration: none;
}
.card .card-image img {
  opacity: 0;
  transition: all 0.5s ease;
}