{{ partial "mobile_nav_toggle.html" . }}
  <div id="portfolio" class="column is-three-quarters is-four-fifths-widescreen">
    <div class="portfolio-container">
      {{ range .Data.Pages }}
          <div class="column is-half-tablet is-one-third-desktop is-one-fourth-widescreen masonry-item">
              <div class="card">
                  {{ if and (isset .Params "image") .Params.image }}
                    <div class="card-image">
                      <figure class="image">
                        {{ if eq .Params.showonlyimage true }}
                        <a href="{{ .Permalink }}" title="" class="card-masonry-image-link with-hover-overlay">
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="card-masonry-image-link with-hover-overlay with-hover-icon">
                        {{ end }}
                            <img src="{{.Site.BaseURL}}{{ .Params.image }}" alt="" class="img-responsive">
                        </a>
                      </figure>
                    </div>
                  {{ end }}
                  {{ if eq .Params.showonlyimage true }}
                  <div class="card-content card-hover-text-header">
                  {{ else }}
                  <div class="card-content card-text">
                  {{ end }}
                      <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                      <div class="card-masonry-description">
                        <p>
                            {{ if .Description }}
                              {{ .Description }}
                            {{ else }}
                              {{ .Summary }}
                            {{ end }}
                        </p>
                      </div>
                  </div>
              </div>
          </div>
      {{ end }}
    </div>
  </div>
