<div id="sidebar" class="column is-one-quarter is-one-fifth-widescreen is-hidden-mobile">
  <div class="sidebar-content">
    <h1 class="sidebar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    {{ range .Site.Params.sidebarAbout }}
      <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    <ul class="sidebar-menu">
      {{ $url := .Site.BaseURL }}
      {{ range .Site.Params.navlinks }}
        <li><a href="{{ $url }}{{ .url }}"><i class="material-icons">keyboard_arrow_right</i> {{ .name }}</a></li>
      {{ end }}
    </ul>
  </div>
  <div class="sidebar-footer">
    <span>{{ .Site.Params.copyright }}</span>
  </div>
</div>
